<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">Video Player</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/adult">Adult</a>
          <a class="dropdown-item" href="/kids">Kids</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<section id="header">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>{{ message }}</h1>
    </div>
  </div>
</div>
</section>

<section id="action">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Action</h2>
      </div>
    </div>
  </div>
</section>

<section id="comedy">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Comedy</h2>
      </div>
    </div>
  </div>
</section>
