<section id="header">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>{{ message }}</h1>
    </div>
  </div>
</div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="http://via.placeholder.com/350x150" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Adult Section</h5>
          <p class="card-text">Movies and Television shows that are geared towards adults.</p>
          <a href="/adult" class="btn btn-primary">Adult Section</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="http://via.placeholder.com/350x150" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Kids Section</h5>
          <p class="card-text">Movies and Television shows that are geared towards children.</p>
          <a href="/kids" class="btn btn-primary">Kids Section</a>
        </div>
      </div>
    </div>

  </div>
</div>
