<h1>{{ message }}</h1>

<ul>
  <li>
    <a href="/getCars" class="get-posts">get cars!</a>
  </li>
  <li>
    <a href="/getOne/R58" class="get-one">
      get one • not functional yet
    </a>
  </li>
</ul>
